<!DOCTYPE html>
<html>
  <head>
    <title>Worker dedicado</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Workers dedicados</h1>
    <button class="js-call-worker">Chamar worker</button>
    <button class="js-slow-function-main">Função lenta</button>
    
    <div class="box-element"></div>

    <script type="text/javascript" src="js/workers/utils.js"></script>
    <script type="text/javascript" src="js/views/webWorkerView.js"></script>
  </body>
</html>
