<!DOCTYPE html>
<html>
  <head>
    <title>Service worker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Service workers</h1>
    <button id="js-background-sync">Chamar background sync</button>

    <script type="text/javascript" src="js/views/serviceWorkerView.js"></script>
  </body>
</html>
